# Dépendances
node_modules/

# Fichiers de build / distribution
dist/
dist-ssr/
web-build/
expo-env.d.ts

# Fichiers temporaires / anciens
*.tmp
*.old
old/

# Logs & Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Fichiers d'environnement
.env
.env*.local
*.prod
zenv.json

# Répertoires d'éditeur
.vscode/*
!.vscode/extensions.json
.idea
setup-structure.bat

# Fichiers spécifiques à Windows / macOS / IDE
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

# Fichiers natifs (mobile)
/android
/ios
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# Expo
.expo/
# @generated expo-cli sync-8d4afeec25ea8a192358fae2f8e2fc766bdce4ec
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# TypeScript
*.tsbuildinfo

# Autres fichiers spécifiques au projet
.qodo
zStart.bat
zREADME_build.txt